.form {
    padding: 40px 40px 10px 40px !important;
    display: flex;
    flex-direction: column;
  
    mat-form-field {
        font-size: 14px;
        margin-bottom: 8px;
    
        --mdc-outlined-text-field-input-text-color: #051726 !important;
        --mdc-outlined-text-field-hover-outline-color: #051726 !important;
        --mdc-outlined-text-field-outline-color: #051726 !important;
        --mdc-outlined-text-field-label-text-color: #051726 !important;
        --mdc-outlined-text-field-input-text-placeholder-color: #051726 !important;
        --mdc-outlined-text-field-focus-label-text-color: #051726 !important;
        --mdc-outlined-text-field-focus-outline-color: #051726 !important;
        --mdc-outlined-text-field-error-outline-color: #051726 !important;
        --mdc-outlined-text-field-error-label-text-color: #051726 !important;
        --mdc-outlined-text-field-error-hover-outline-color: #051726 !important;
        --mdc-outlined-text-field-error-focus-outline-color: #051726 !important;
        --mdc-outlined-text-field-error-focus-label-text-color: #051726 !important;
        --mdc-outlined-text-field-caret-color: #051726 !important;
        --mdc-outlined-text-field-error-caret-color: #051726 !important;
    }
}

.dialog {
    padding: 20px !important;
    font-size: 14px;
    color: #051726 !important;
}

h2 {
    color: #051726 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.mdc-dialog__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2fff6 !important;
    padding: 10px 20px !important;
}

.mdc-dialog__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2fff6 !important;
    padding: 10px 20px !important;
}

.close-button, .add-button {
    color: #fff !important;
    font-size: 15px;
    font-weight: 500;
    background-color: #051726 !important;
    padding: 3px 30px;
    border-radius: 20px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: #051726 !important;
}

textarea {
    resize: none;
    font-family: 'Roboto', "Helvetica Neue", sans-serif !important;
}