<!-- Toolbar -->
<div *ngIf="showToolbar" class="toolbar" role="banner">
  <div class="logo">
    <a href="/">
      <img
        height="25"
        width="auto"
        alt="Logo"
        src="assets/logo.svg"
      />
    </a>
  </div>
  <div class="navigation" *ngIf="isAdmin">
    <a class="navigation-item" href="admin/dashboard/notices">Manage Notices</a>
    <a class="navigation-item" href="admin/dashboard/users">Manage Users</a>
  </div>
  <div class="logout">
    <a (click)="onLogout()">
      <img height="25" width="auto" alt="Logout" src="assets/icons/logout.svg"/>
    </a>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>