h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: 0;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: relative;
    top: 0;
    height: 60px;
    background-color: #051726;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 15px;
}

.navigation-item {
    display: inline-block;
    color: #051726 !important;
    background-color: #81FFD9;
    padding: 4px 15px 6px 15px;
    border-radius: 20px;
    margin: 0px 3px;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 15px;
}

.logout a {
    cursor: pointer;
}

.navigation a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.content {
    display: flex;
    min-height: calc(100vh - 60px);
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
}